* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: #040D12;
    width: screen;
    height: screen;
    background-size: cover;
    background-position: center;
}

nav{
    display: flex;
    padding-left: 200px;
    align-items: center;
    justify-content: space-between;
    background-color: #183D3D;
    height: 80px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 30px;
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav li:hover{
    font-style: italic;
    transform: scale(1.2);
}
nav li {
    font-size: 2rem;
    color: #ffffff;
    position: relative;
    display: inline-block;
  }
  
  nav li::after,
  nav li::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #93B1A6, #183D3D);
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-out;
  }
  
  nav li::before {
    top: -5px;
    transform-origin: left;
  }
  
  nav li:hover::after,
  nav li:hover::before {
    transform: scaleX(1);
  }
  

a {
    color: #E8ECD7;
    text-decoration: none;
}

.contact-information{
    flex: 0 0;
    text-align: right;
    font-size: 15px;
    color: #FFFFFF;
    padding-right: 10px;
}

p{
    display: inline;
    height: 1px;
    margin: 5px;
}

.banner-section h1{
    font-size: 50px;
    color: #93B1A6;
    padding: 50px;
    padding-left: 60px;
    font-weight: normal;
}

.banner-section p{
    font-size: 20px;
    color: #E8ECD7;
    padding-left: 60px;
}

.banner-section span{
    color: #93B1A6;
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
}