html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}

body {
    /* background-color: #040D12; */
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;

}

body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("assets/background/programming.webp") no-repeat center center/cover;
    z-index: -2;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(4, 13, 18, 0.9);
    z-index: -1;
}

nav {
    display: flex;
    padding-left: 200px;
    align-items: center;
    justify-content: space-between;
    background-color: #183D3D;
    height: 80px;
    /* position: sticky;
    top: 0;
    width: 100%;
    background-color: #183D3D;
    z-index: 1000;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 30px;
}

nav li {
    font-size: 2rem;
    color: #ffffff;
    position: relative;
    display: inline-block;
    margin: 0 10px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.8s ease-in-out forwards;
}

nav li:nth-child(1) { animation-delay: 0.2s; }
nav li:nth-child(2) { animation-delay: 0.4s; }
nav li:nth-child(3) { animation-delay: 0.6s; }
nav li:nth-child(4) { animation-delay: 0.8s; }

nav li:hover {
    font-style: italic;
    transform: scale(1.2);
}

nav li::after,
nav li::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #93B1A6, #183D3D);
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-out;
}

nav li::before {
    top: -5px;
    transform-origin: left;
}

nav li:hover::after,
nav li:hover::before {
    transform: scaleX(1);
}

a {
    color: #E8ECD7;
    text-decoration: none;
}

.contact-information {
    flex: 0 0;
    text-align: right;
    font-size: 15px;
    color: #FFFFFF;
    padding-right: 20px;
}

.banner-section {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-bottom: 0
}

.banner-content {
    width: 100%;
    font-size: 40px;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 1s ease-out 1s forwards;
}

.banner-section h1 {
    color: #93B1A6;
    padding: 50px;
    padding-left: 60px;
    font-weight: normal;
    margin-bottom: 10px;
}

.banner-section span {
    color: #93B1A6;
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
}

.banner-photo {
    display: flex;
    justify-content: end;
    width: 100%;
    padding: 50px;
    opacity: 0;
    transform: scale(0.8);
    animation: fadeInScale 1s ease-out 1.5s forwards;
}

.banner-section .social-icon {
    display: flex;
    gap: 25px;
    padding-left: 50px;
}

.banner-section .social-icon img {
    width: 50px;
    height: 50px;
    margin: 10px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-out 1.2s forwards;
    aspect-ratio: 3/2;
    object-fit: contain;
}

.banner-section img {
    width: 100%;
    height: 100%;
}

.banner-section button {
    background-color: #93B1A6;
    color: #E8ECD7;
    border: none;
    margin: 50px;
    font-size: 18px;
    cursor: pointer;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    width: 200px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-out 1.4s forwards;
}

#about {
    height: 100vh;
    display: flex;
    flex-direction: wrap;
    background: url("assets/background/map.webp") no-repeat center center/cover;
    padding: 20px;
    gap: 90px;
    justify-content: center;
    margin-top: 0;

}

.about-section {
    text-align: center;
    gap: 90px;
    width: 75vh;
    display: flex;
    flex-direction: column;
}

.skills-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
    background: #93B1A6;
    width: 100%;
    height: 50%;
    border-radius: 16px;
}

.skills-container h1 {
    color: #183D3D;
    font-size: 30px;
    font-weight: bold;
}

.frontend {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background: white;
    width: 100%;
    height: 100%;
    border-radius: 16px;
}
.backend{
    border: black;
    display: flex;
    flex-direction: column;
}

.skill-list{
    display: flex;
    justify-content: left;
    gap: 20px;
    padding: 20px;
    background: #93B1A6;
    width: 100%;
    height: 50%;
    border-radius: 16px;
}

.experience-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background: #93B1A6;
    width: 100%;
    height: 50%;
    border-radius: 16px;

}

.about-me{
    background: #93B1A6;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    width: 35%;
    height: 100%;
    border-radius: 16px;
    padding-bottom: 0;

}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInScale {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
